server/.env

chat-web/.env
chat-web/logs
chat-web/*.log
chat-web/npm-debug.log*
chat-web/runner-results/*
chat-web/yarn-debug.log*
chat-web/yarn-error.log*
chat-web/pnpm-debug.log*
chat-web/multi-reporter-config.json
chat-web/lerna-debug.log*
chat-web/e2e-coverage/
chat-web/cypress/videos/
chat-web/.scannerwork/
chat-web/cypress/screenshots/
chat-web/cypress.env.json
chat-web/.nyc_output/
chat-web/coverage
chat-web/clover.xml
chat-web/node_modules*
chat-web/.vite
chat-web/dist
chat-web/dist-ssr
chat-web/*.local
chat-web/.vscode/*
chat-web/!.vscode/extensions.json
chat-web/.idea
chat-web/.DS_Store
chat-web/*.suo
chat-web/*.ntvs*
chat-web/*.njsproj
chat-web/*.sln
chat-web/*.sw?
